.list {
	display: flex;
	column-gap: 10px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.item {
	width: calc((100% - 40px) / 5);
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: 2px solid black;
	border-radius: 5px;
}
.name {
	font-size: 25px;
	font-weight: 500;
	color: black;
}
.status {
	font-size: 20px;
	color: red;
}

.statusonline {
	color: green;
}
